<div class="row">
  <div class="col">
    <input type="text" (keyup)="busqueda($event)" class="form-control" placeholder="Buscar artista">
  </div>
</div>

<div class="container">
  <div class="card-columns" *ngFor="let artista of artistas">
    <div class="card">
      <img src="{{artista.images | noimage}}" class="card-img-top" alt="...">
      <a [href]="artista.href"></a>
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>
        <p class="card-text">
          <span class="badge badge-pill badge-primary">{{artista.name}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
